body
{
	background-color: #111111;
}
#content
{
	background-color: #222222;
	color: #eeeeee;

	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#quote, #author
{
	font-size: 2em;
	padding: 10px;
}
#qb
{
	font-size: 2em;
	position: absolute; 
	left: 0; 
	bottom: 0; 
	padding: 5px;

	cursor: pointer; 
	cursor: hand;

	background-color: #eeeeee;
	color: #222222;
}
#tb
{
	font-size: 2em;
	position: absolute; 
	right: 0; 
	bottom: 0; 
	padding: 5px;

	cursor: pointer; 
	cursor: hand;

	background-color: #eeeeee;
	color: #222222;
	text-decoration: none;
}
